  html {
    box-sizing: border-box;
    font-family: Merriweather, serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }
}

th {
  border: 1px;
  border-color: black;
  border-style: solid;
}

td {
  border: 1px;
  border-color: black;
  border-style: solid;
}

tbody td {
height: 11em
}

.calendar,
td,
th {
border: 1px solid #ccc;
}
